.firstdiv
{
    height: 200px;
    margin-top: 15%;
    background-color: ghostwhite;
    border: 1px solid black;
    text-align: center;
}

h1
{
    font-family: cursive;
    font-weight: bolder;
    color: blue;
}